*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: black;
}

body {
    overflow-x: hidden;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    /* mix-blend-mode: exclusion; */
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    height: 100vh;
    width: 100vw;
    padding: 50px;;
    color: white;
    z-index: 1;
    pointer-events: none;
    line-height: 3em;
}

#gameHero {
    transition-delay: 2s;
    transition-duration: 3.0s;
    transition-property: opacity;
}

.container div {
    width: 100%;
}

.container h1 {
    font-size: 5em;
    text-transform: uppercase;
    width: 100%;
}

.container p {
    font-size: 0.8em;
    width: 100%;
}

section {
    height: 100vh;
}